%p.notice
  = notice

%p.alert
  = alert

#feed
  #youtube
    %h1.red LIVE FEED
    %iframe{:src => "//www.youtube-nocookie.com/embed/V_n5qD240kM?rel=0"}
  #whois
    %h1.red ONLINE MEMBERS
      
  #slido
    %h1.red ASK QUESTIONS
    %iframe{:src => "http://www.sli.do/slido/demo#ask"}