.red {
  color: #AB1F23;
}

#eventbutton {
  background-color: #FF8000;
}

#logoutbutton {
  background-color: #AB1F23;
}

.green {
  background-color: #4BEC68;
}

.blue {
  background-color: #007bb6;
}

.white {
  color: white;
}

.bg_color1 {
  background-color: #16193B;
}
.bg_color2 {
  background-color: #35478C;
}
.bg_color3 {
  background-color: #4E7AC7;
}
.bg_color4 {
  background-color: #7FB2F0;
}
.bg_color5 {
  background-color: #ADD5F7;
}

.color1 {
  color: #16193B;
}
.color2 {
  color: #35478C;
}
.color3 {
  color: #4E7AC7;
}
.color4 {
  color: #7FB2F0;
}
.color5 {
  color: #ADD5F7;
}