#welcome_container {
  margin: 0 auto;
  text-align: center;
}

#welcome_container div {
  display: inline-block;
}

#event_start {
  background-color: #AB1F23;
}

.mb_fix{
  margin-bottom: 10px;
}

.subtitle {
  height: 48px;
  line-height: 48px;
  padding: 0 40px;
}

#event_start div {
  text-align: center;
}

.logo {
  height: 140px;
  width: 140px;
  overflow: hidden;
  background-color: white;
  border: solid 3px rgb(180,180,180);
}

.logo img {
  width: 100%;
  margin: 0 auto;
}

#sgl {
  position: relative;
  top: 40px;
  width: 80%;
}

#text {
  text-align: center;
  position: relative;
  top: -19px;
}

#text h1, #text h2 {
  padding: 0 62px;
}

#text div {
  display: block;
}

.text {
  width: 75%;
  padding: 18px;
}

#welcome_container h1, #welcome_container h2 {
  margin: -10px 0
}

#whatis {
  width: 97%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 0;
  border-radius: 2px;
  text-align: center;
}

#description {
  vertical-align: top;
  text-align: left;
  width: 97%;
  height: 160px;
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 20px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 2px;
  overflow: hidden;
}

#description div, #whatis div {
  float: left;
  height: 100%;
}

#host_description {
  vertical-align: top;
  text-align: right;
  width: 97%;
  height: 160px;
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 20px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 2px;
  overflow: hidden;
}

#host_description div {
  float: right;
  height: 100%;
}

.image img {
  border-radius: 2px;
  width: 160px;
}

.login {
  background-color: rgba(0,0,0,0.1);
  width: 49%;
  float: left;
  height: 100%;
}

.log {
  color: white;
  border-radius: 2px;
  width: 90%;
  margin: 14px auto 10px auto;
  font-size: 1.2em;
  padding: 10px;
  text-align: center;
}

#bottom {
  width: 97%;
  height: 160px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.eventbrite {
  width: 49%;
  float: right;
  background-color: rgba(0,0,0,0.1);
  height: 100%;
}

.location {
  margin: 0 14px;
  padding: 4px 0;
}

#eventbutton, #logoutbutton {
  color: white;
  border-radius: 2px;
  width: 90%;
  margin: 14px auto 10px auto;
  font-size: 1.2em;
  padding: 10px;
  text-align: center;
}

#partners {
  text-align: center;
  margin: 20px auto 80px auto;
}

p {
  padding: 10px 0;
}

.cass {
  position: relative;
  bottom: 6px;
}

#defaultCountdown {
  width: 100%;
  height: 80px;
  color: black;
}

#clock {
  color: white;
}

#linkedin {
  background-color: #007bb6;
  color: white;
  border-radius: 2px;
  width: 90%;
  margin: 14px auto 7px auto;
  font-size: 1.2em;
  padding: 10px;
  text-align: center;
}

.notice {
  text-align: center;
}