#welcome_wrap {
  width: 100%;
}

#welcome_container {
  height: 200px;
  margin: 0 auto;
  color: white;
  text-align: center;
}

#welcome_container div {
  display: inline-block;
  overflow: hidden;
}

.mb_fix{
  margin-bottom: 10px;
}

#clock {
  font-size: 1.6em;
}

.subtitle {
  height: 48px;
  line-height: 48px;
}

.first {
  padding-top:24px;
}


#event_start div {
  text-align: left;
}

.logo, .host {
  height: 100%;
  width: 200px;
  overflow: hidden;
  background-color: white;
  text-align: center;
}

#guest_comp, #host_comp {
  overflow: hidden;
  height: 100%;
  width: 200px;
}

#sgl {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  margin-top: 54px;
}

.host img {
  width: 100%;
}

#sgl {
  top: 40px;
  width: 80%;
}

#text {
  text-align: left;
  position: relative;
  height: 100%;
  margin-left: 20px;
}

#text div {
  display: block;
}

.text {
  width: 75%;
  padding: 18px;
  height: 100%;
}

#welcome_container h1, #welcome_container h2 {
  margin: -10px 0
}

#whatis {
  width: 100%;
  height: 100px;
  padding: 10px 0;
  border-radius: 2px;
  text-align: center;
}

#whatis h2 {
  max-width: 960px;
  margin: 0 auto;
  line-height: 100px;
  color: white;
}

#description {
  vertical-align: top;
  text-align: left;
  max-width: 960px;
  height: 200px;
  margin: 0 auto;
  font-size: 1.2em;
  border-radius: 2px;
  overflow: hidden;
}

#description div, #whatis div {
  float: left;
  height: 100%;
}

#host_description {
  vertical-align: top;
  text-align: right;
  max-width: 960px;
  height: 200px;
  margin: 0 auto;
  font-size: 1.2em;
  border-radius: 2px;
  overflow: hidden;
}

#host_description div {
  float: right;
  height: 100%;
}

.image img {
  border-radius: 2px;
  width: 160px;
}

.login {
  width: 50%;
  float: left;
  height: 100%;
}

.login, .eventbrite {
  margin-top: 20px;
}

.log {
  color: white;
  width: 100%;
  font-size: 1.2em;
  padding: 10px 0;
  text-align: center;
}

#bottom {
  max-width: 960px;
  height: 160px;
  margin: 0 auto;
  text-align: center;
}

.eventbrite {
  width: 50%;
  float: right;
  height: 100%;
}

.location {
  padding: 10px 0;
  line-height: 39px;
}

#eventbutton, #logoutbutton {
  color: white;
  width: 100%;
  font-size: 1.2em;
  padding: 10px 0;
  text-align: center;
}

#partners {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 80px;
}

p {
  padding: 10px 0;
}

.cass {
  position: relative;
  bottom: 6px;
  margin-left: 20px;
}

#defaultCountdown {
  width: 100%;
  height: 80px;
  color: black;
}

#linkedin {
  background-color: #007bb6;
  color: white;
  border-radius: 2px;
  width: 90%;
  margin: 14px auto 7px auto;
  font-size: 1.2em;
  padding: 10px;
  text-align: center;
}

.notice {
  text-align: center;
}

#partner_images {
  margin: 8px auto;
  width: 400px;
  background-color: white;
}
